<html lang="en">
  <head>
    <meta name="color-scheme" content="only" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <style>
      html{ font-size: 100%; box-sizing: border-box; } body { overflow: hidden;
      position: fixed; margin: 0; padding: 0; font-family: 'Inter', sans-serif;
      width: 100%; background-color: #fdf7f2 !important; } h1, h2, h3, h4, p {
      margin: 0; } .container { align-items: center; background-color: #fdf7f2
      !important; } .header{ font-size: 2rem; padding-top: 2rem; color: #1c6cce;
      text-align: center;} .container { align-items: center; background-color:
      #fdf7f2 !important; } .isi-container { margin-top: auto; margin-bottom:
      auto; padding: 4rem; } .isi{ color: #1c6cce; text-align: center;} .footer
      { background-color: #1c6cce; color: #fdf7f2 !important; text-align:
      center; padding-top: 1rem;} .sosial-media { margin-left: auto;
      margin-right: auto; padding: 1rem;} .web-portofolio { color: #fdf7f2
      !important; padding-bottom: 1rem; }
    </style>
  </head>
  <body>
    <div class="container">
      <span style="opacity: 0;">{{date}}</span>
      <h1 class="header">TERIMAKASIH!!!</h1>
      <div class="isi-container">
        <h2 class="isi">Halo, {{pengirim}}</h2>
        <h2 class="isi">Terimakasih sudah mengunjungi web portofolio saya</h2>
        <h2 class="isi">dan sudah mengirim pesan</h2>
      </div>
      <div class="footer">
        <h2>SOSIAL MEDIA</h2>
        <div class="sosial-media">
          <a
            href="https://www.instagram.com/rakha_wibowo/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img src="cid:instagram" alt="instagram" />
          </a>
          <a
            href="https://wa.me/6281229284274"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img src="cid:whatsapp" alt="whatsapp" />
          </a>
          <a
            href="https://github.com/Rakha112"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img src="cid:github" alt="github" />
          </a>
          <a
            href="https://www.linkedin.com/in/rakha-wibowo/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img src="cid:linkedin" alt="linkedin" />
          </a>
        </div>
        <h2>WEB PORTOFOLIO</h2>
        <a
          class="web-portofolio"
          href="https://rakhawibowo.my.id/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <h2>rakhawibowo.my.id</h2>
        </a>
      </div>
      <span style="opacity: 0;">{{date}}</span>
    </div>
  </body>
</html>